* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	background-color: #eb798a;
	font-family: Times New Roman;
}

#container_page {
	padding: 2rem 0;
	max-width: 1200px;
	height: 100vh;
	margin: 0 auto;
	position: relative;
}
